doctype html
html(lang='ja', dir="ltr", itemscope itemtype="//schema.org/WebPage")
  head
    - var url = "example url"
    - var title = "example title"
    - var description = "example description"
    - var site_name = "example site_name"
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title #{title}
    block meta
      meta(property="og:type", content="website")
      meta(property="og:url", content=url)
      meta(property="og:title", content=title)
      meta(property="og:image", content="")
      meta(property="og:description", content=description)
      meta(property="og:site_name", content=site_name)
      meta(property="og:locale", content="ja_JP")
      meta(name="twitter:card", content="summary")
      meta(name="twitter:site", content="@site_account")
      meta(name="twitter:creator", content="@individual_account")
      meta(name="twitter:url", content=url)
      meta(name="twitter:title", content=title)
      meta(name="twitter:description", content=description)
      meta(name="twitter:image", content="")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(rel="apple-touch-icon", href="/custom-icon.png")
    block css
      link(rel="stylesheet", href="/css/common.css")
    block js
      script(src="/js/lib.js")
      script(src="/js/common.js")
  body
    include _header
    block contents
    include _footer
